ul.tabs.tabs--secondary.links--inline {
  li {
    @include border-radius(15px);
    /* background-color: $basecolor; */
    &:hover {
      background-color: $highlight;
    }
    a {
      background-color: transparent;
      color: $dark-grey;
      &:hover {
        color: $white;
      }
    }
  }
  li.active {
    background-color: $highlight;
    &:hover {
      background-color: $basecolor;
    }
    a.active {
      background-color: transparent;
      color: $white;
    }
  }
}
ul.action-links {
  li {

    @include background('../images/plus-admiral.png', left center, no-repeat);
    padding: $horz-spacing-unit;

    a {
      color: $basecolor;
      font-weight: bold;

      &:hover {
        color: $highlight;
      }
    }
  }
}