.page-node-128 {
  .node--webform--full {
    background: inherit;
    padding: 0;
    #webform-component-first-block {
      border: none;
      background: $white;

     label {
       display:block!important;
     }

    }

    #webform-component-second-block {
      border: none;
      background: $white;
      display:none;
    }

    #webform-component-third-block {

      #edit-submitted-third-block-font,
      #edit-submitted-fourth-block-select-address-font {
        margin-left: 36px;
        width:530px;
      }
    }

    #webform-component-third-block,
    #webform-component-fourth-block {
      border: none;
      background: $white;
      label {
        margin-left: 53%;
      }
      .form-type-radio {
        margin-left:5px;
      }
      .option {
        margin-left: 0;
      }
      #edit-submitted-fourth-block-left {
        margin-left:0px!important;
      }


      #edit-submitted-fourth-block-select-address-font {
        float:left;
        width:29%;
        margin-left:36px;
      }
      #webform-component-fourth-block--left {
        float:left;
        width:15%;
      }


      #webform-component-fourth-block--colour-select {

        label {
          width:31%;
          margin-left:36px!important;
          margin-top:10px;
          float:left;
        }

        select {
          width:331px;
          margin-left:36px;

        }

      }

      #webform-component-fourth-block--left {
        float:right;
        margin-top:-155px;
        margin-left:0px!important;
        label {
          margin-left: 0px!important;
        }
      }


      #webform-component-third-block--colour-select {
        float:right;
        width: 530px;

        label {
          width:31%;
          float:left;
          margin-left: 0px!important;
        }

        select {
          width:530px;

        }

      }

    }

    #webform-component-images {

      .option {
        display:none;
      }

      border: none;
      clear:left;
      background: $white;
      .button--primary {
        margin-top: 5px;
      }
    }

    #webform-component-images--reproduction-image-1 {
      margin-top:23px;
    }
    #webform-component-images--reproduction-img2 {
      margin-top:23px;
    }
    #webform-component-images--reproduction-img3 {
      margin-top:23px;
    }


    #webform-component-images--image-2 {
      clear:left;
    }

    #webform-component-images--image-3 {
      clear:left;
    }

    #webform-component-your-contact-details {
      border: none;
      padding-top: 50px;
      .fieldset-legend {
        color: $grey-header;
        font-family: $kreon;
        @include font-size(36px);
        line-height: 36px;
        position: relative;
        top: 36px;
      }
    }

    #webform-component-extra-content-intro {
      background: $white;
      padding: 5px;


      .image1,.image2,.image3 {
        margin: 0 15px;
      }

    }
  }
}

/**************************************************/

@include breakpoint($tab, true) {
  .page-node-128 {
    .node--webform--full {

      #webform-component-first-block {
        .webform-component-select {
          width: 25%;
          float: left;
          margin-right: $vert-spacing-unit*2;
        }
        .webform-component-textfield {
          width: 25%;
          float: left;
          margin-right: $vert-spacing-unit*2;
        }
      }

      #webform-component-second-block {
        .webform-component-select {
          width: 25%;
          float: left;
        }
      }

      #webform-component-third-block,
      #webform-component-fourth-block {
        .webform-component-textarea {
          width: 50%;
          float: left;
        }
      }

      #webform-component-images {

        #webform-component-images--image-requirements {
          font-style:italic!important;
        }

        #webform-component-images--copyright {
          width:50%;
          float:left;
          margin-top: $vert-spacing-unit;
        }


        #form-item-submitted-images-copyright input {
          float:left;
          margin-top:6px;
          margin-right:5px;
        }

        .option {
          display:none;
        }
        .description {
          float:left;
          width:95%;
          margin-top: -25px;
          margin-left: 25px;
        }


        .webform-component-managed_file {
          width: 40%;
          float: left;
        }
        .webform-component-select {
          width: 25%;
          float: left;
        }
        .button--primary {
          margin-top: 0;
        }

        .form-textarea {
          float:left;
        }

      }

      #webform-component-your-contact-details {
        border: none;
        padding-top: 50px;
        .fieldset-legend {
          color: $grey-header;
          font-family: $kreon;
          @include font-size(36px);
          position: relative;
          top: 30px;
        }
      }

      #webform-component-extra-content-intro {
        background: $white;
        padding: 5px;
      }
    }
  }
}