/* This is for the front page block */
.block--webform-client-block-107 {
  padding-top: 100px;
  clear: both;
  h2.block__title {
    color: $basecolor;
    line-height: 28px;
    @include font-size(26px);
  }
  .block__content {
    .form-required {
      display: none;
    }
    input#edit-submit--2 {
      width: 100%;
    }
    input#edit-submit {
      @include border-radius(6px);
      width: 100%;
      background-color: $basecolor;
    }
  }
}

@include breakpoint($tab, true) {
  .block--webform-client-block-107 {
    padding-top: $vert-spacing-unit;
  }
}