form#user-login.user-login {
  div {
    &:first-child {
      float: left;
    }
  }
  .user-login-intro {
    clear: both;
  }
  .user-login-title {
    margin-bottom: $vert-spacing-unit;
    h2 {
      @include font-size(26px);
    }

  }
  .form-item-name {
    clear: left;
  }
  label {
    display: none;
  }
  .reset-link {
    color: $basecolor;
    display: inline;
    text-decoration: none;
    float: left;
    @include font-size(18px);
    font-weight: bold;
    line-height: 30px;
  }
  a.reset-link {
    &:hover {
      color: lighten($basecolor, 25%);
    }
  }
  .form-actions {
    float: right;
  }
  .create-account {
    display: inline-block;
    h2 {
      @include font-size(26px);
      line-height: 26px;
    }
  }
  .login-register {
    display: block;
    color: $white;
    background: $basecolor;
    padding: 20px 30px;
    margin-top: 25px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 3px;
    @include border-radius(5px);
    &:hover {
      background-color: lighten($basecolor, 25%);
    }
  }
}

@include breakpoint($sml_tab_portrait, true) {
  form#user-login.user-login {
    div {
      &:first-child {
        float: left;
      }
    }
    .user-login-intro {
      clear: both;
    }
    .user-login-title {
      margin-bottom: $vert-spacing-unit;
      h2 {
        @include font-size(26px);
      }

    }
    .form-item-name {
      clear: left;
    }
    label {
      display: none;
    }
    .reset-link {
      color: $basecolor;
      display: inline;
      text-decoration: none;
      float: left;
      @include font-size(18px);
      font-weight: bold;
      line-height: 30px;
    }
    a.reset-link {
      &:hover {
        color: lighten($basecolor, 25%);
      }
    }
    .form-actions {
      float: right;
    }
    .create-account {
      display: inline-block;
      h2 {
        @include font-size(26px);
      }
      .login-register {
        display: block;
        color: $white;
        background: $basecolor;
        padding: 20px 30px;
        margin-top: 25px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        line-height: 3px;
        @include border-radius(5px);
        &:hover {
          background-color: lighten($basecolor, 25%);
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  form#user-login.user-login {
    .create-account {
      padding-left: $vert-spacing-unit;
      .login-register {
        margin-top: 16px;
      }
    }
  }
}