/***Categories Blog Listing***/
.view-blog-categories {
  margin-bottom: $vert-spacing-unit*2;
  .views-row {
    @include font-size(18px);
    a {
      font-family: $opensans ;
      font-weight: bold;
      display: block;
      text-decoration: none;
      padding: $vert-spacing-unit/2 0;
    }
  }

}

@include breakpoint($tab, true) {
  .view-blog-categories {

  }
}

@include breakpoint($desk, true) {
  .view-blog-categories {

  }
}

