.view-gold {
  width: 100%;
  .views-row {
    color: $white;
    .image-block-gold {
      width: 100%;
      ul {
        padding: 0;
        list-style: none;
        list-style-type: none;
        float: left;
      }
    }

  }
  h2 {
    color: $white;
    line-height: 42px;
  }
  .field--name-field-article-image {

    .field__item {
      width: 100%;
      text-align: center;
      float: left;
      padding: $vert-spacing-unit 0;
      img {
        @include box-shadow(lighten($black, 20%) 2px 2px 15px);
      }
    }
  }
  .field--name-body {
    width: 100%;
    float: left;
    padding-top: 10px;
  }
  a {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: lighten($basecolor, 15%);
    }
  }
}

@include breakpoint($sml_tab_portrait, true) {
  .view-gold {
    .views-row {
      .image-block-gold {
      }

    }
    .field--name-field-article-image {

      .field__item {
        width: 50%;
      }
    }
    .field--name-body {
      width: 100%;
    }
  }
}

@include breakpoint($tab, true) {
  .view-gold {
    .views-row {
      .image-block-gold {
        width: 40%;
      }

    }
    .field--name-field-article-image {

      .field__item {
        width: 50%;
      }
    }
    .field--name-body {
      width: 50%;
    }
  }
}