.layout-1 {


  /**********************   Right Panel **************/
  .vert-right-panel-wrapper {

    /*Hidden fields*/
    .field-name-admiral-right-panel-signature,
    .field-name-admiral-right-panel-main,
    .field-name-admiral-right-panel-left-image {
      display: none;
    }

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }

    .field-name-field-greeting {
      width: 464px;
      margin: 299px auto $vert-spacing-unit auto;
      border: 2px dashed lighten($highlight, 25%);
      .form-item {
        label {
          color:#b779e8;
          position: absolute;
        }
      }
      .cke_top {
        position: fixed;
        width: 335px;
        height: 200px;
        left: 60%;
        top: 25%;
        display: none;
      }
      .cke_reset {
        border: none;
      }
      .cke_contents {
        height: 116px!important;
      }

      .cke_bottom {
        display: none;
      }
      .filter-wrapper {
        display: none;
      }
    }

    .field-name-admiral-client-address {
      margin: 40px auto 32px auto;
      width: 464px;
      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          color:#b779e8;
          position: absolute;
        }
      }
      .cke_reset {
        border: none;
      }
      .cke_top {
        position: fixed;
        width: 335px;
        height: 196px;
        left: 60%;
        top: 55%;
        display: none;
      }
      .cke_contents {
        height: 116px!important;
      }
      .cke {
        text-align: center!important;
      }
      .ckeditor_links {
        display: none;
      }
      .cke_bottom {
        display: none;
      }
      .filter-wrapper {
        display: none;
      }
    }

    .field-name-admiral-right-panel-centre-image {
      width: 188px;
      float:left;
      margin-left: 26px;
      margin-top: 20px;
      .form-item {
        height: 96px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-file {
              width: 95%;
            }

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }
    .field-name-admiral-right-panel-right-image {
      width: 188px;
      float:right;
      margin-top: 20px;
      margin-right: 26px;
      .form-item {
        height: 96px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 8px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .form-file {
              width: 95%;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }
  }
}