/* Horizontal Product Styling */
.node-admiral-card-horizontal-full {
  .description-selected {
    border: 2px solid $basecolor;
  }
  .admiral-card-horizontal-step-1 {
    .product-title-main{
      h2{
        display: inline-block;
        @include font-size(24px);
        line-height: 24px;
        font-weight: bold;
        margin-bottom: $vert-spacing-unit;
      }
      label {
        font-weight: bold;
        padding-left: $horz-spacing-unit;
      }
    }
    .product-description-title {
      @include font-size(18px);
      font-weight: bold;
      margin-top: 46px;
      .product-description-body {
        .read-more {
          a {
            display: block;
            text-decoration: none;
            font-weight: bold;
            &:after {
              content: " \00bb";
            }
          }
        }
        .read-less{
          a {
            display: block;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: $vert-spacing-unit;
            &:after {
              content: " \00bb";
            }
          }
        }
      }
    }
    .image-zone-region {
      margin-bottom: 0;
      .main-image-wrapper {
        text-align: center;
        padding: $vert-spacing-unit 0;
        width: 50%;
        float: left;
        margin-bottom: 150px;
        .main-image {
          img {
            @include box-shadow(lighten($black, 20%) 2px 2px 15px);
          }
        }
      }
    }

    .description-region {
      width: 50%;
      padding: 10px;
      float:left;
      .description-title {
        font-weight: bold;
        @include font-size(18px);
      }
    }
    .extra-info-wrapper {
      width: 50%;
      float: left;
      padding: 10px;
    }

    /*Button*/
    .first-step {
      background: $basecolor;
      width: 300px;
      padding: $vert-spacing-unit 0;
      height: auto;
      line-height: 35px;
      @include border-radius(14px);
      font-size: 125%;
      float: left;
      margin-left: 10px;
    }

    /* Form items */
    .form-item-quantity {
      display: inline-block;
      float: left;
      padding-left: 10px;
      input[type='text'].form-text {
        width: 100px;
      }
    }

    .form-item-charity {
      width: 35%;
      float: left;
      padding-left: 10px;
    }

    .price-zone-region {
      display: block;
      float: left;
      margin-left: $horz-spacing-unit*5;
      #edit-cost-price {
        display:none;
      }

      #edit-total-price-exvat {
        margin-bottom: 3px;
      }
    }

    .additional-info {
      .info-title {
        display: inline-block;
        width: 120px;
        font-weight: bold;
      }

      .info {
        display: inline-block;
        width: 400px;
      }
      .charity-share {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}
