.node--product-display {
  .form-container,
  .image-container {
    width: 50%;
    float: left;
  }

  .image-container {
    background: $white;
    text-align: center;
    padding: $vert-spacing-unit 0;
    img {
      @include box-shadow(lighten($black, 20%) 2px 2px 15px);
    }
  }



  .form-container {
    padding: $vert-spacing-unit $horz-spacing-unit;

    h2 {
      line-height: 42px;
    }

    .price-container {
      font-weight: bold;
    }

    .commerce-product-field-commerce-price {
      display: inline-block;
    }
    .field--name-body {
      margin-top: $vert-spacing-unit;
    }

    input#edit-quantity.form-text {
      width: 150px;
    }
  }
}
