.user-profile {
  @extend %hlist;
  .field--name-field-team-member-info {
    display: none;
  }
  h3 {
    background: $basecolor;
    color: $white;
    line-height: 26px;
    padding: $vert-spacing-unit/2 $horz-spacing-unit;
  }
  ul {
    padding: 0;
    li {
      height: 300px;
      padding: 5px;
      .user-profile-item {
        a {
          @include border-radius(5px);
          color: $white;
          background: $basecolor;
          padding: 5px 10px;
          text-decoration: none;
          &:hover {
            background: $highlight;
          }
        }
        .field--name-commerce-customer-address {
          display: block;
          padding-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  .user-profile {
    ul {
      padding: 0;
      li {
        width: 25%;
      }
    }
  }
}