.form-type-ajw-product-attributes .description {
  display: none;
  margin-right: 5px;

}

.form-type-ajw-product-attributes-ajax .form-item {
  /*width: 100px;*/
    float: left;
}
.form-type-ajw-product-attributes-ajax .description {
  display: block;
  margin-left: 0;
  cursor: pointer;
}

.form-type-ajw-product-attributes-ajax .description-not-selected {
    border: 2px solid white;
    padding: 0;
}

.form-type-ajw-product-attributes-ajax .description-selected {
    border: 2px solid #5f2f85;
    padding: 0;
}

.ajw-product-attributes-color {
  /*width: 100px;
  height: 100px;*/
  /*border: 1px solid black;*/
}
