.layout-12 {

  /**********************   Right Panel **************/
  .horz-right-panel-wrapper {



    .field-name-admiral-right-panel-main,
    .field-name-admiral-right-panel-left-image,
    .field-name-admiral-right-panel-right-image,
    .field-name-admiral-right-panel-centre-image {
      display: none;
    }

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }

    .field-name-field-greeting {
      width: 718px;
      margin: 216px auto 0 auto;
      border: 2px dashed lighten($highlight, 25%);

      .form-item {
        label {
          color:#b779e8;
          position: absolute;
        }
      }

      .cke_reset {
        border: none;
      }
      .cke_top {
        display: none;
      }

      .cke_contents {
        height: 120px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }



    .field-name-admiral-right-panel-signature {

      .ajax-new-content {
        display:none!important;
      }

      width: 375px;
      margin: 10px auto 0 auto;
      height: 125px;

      .form-item {
        height: 158px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display:none;
        }



        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {

            &:nth-child(2) {
              margin-top: -40px;
            }

            margin-left: 110px;
            margin-top: 10px;
            width: 150px;

            .form-submit {
              margin-left: 20px;
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }





    .field-name-admiral-client-address {
      margin: 68px auto 0 auto;
      width: 377px;
      height:200px;
      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          color:#b779e8;
          position: absolute;
        }

      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        displaY: none;
      }

      .cke_contents {
        height: 94px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }

    .field-name-admiral-right-panel-centre-image {
      padding: 5px 50px 0 50px;
      width: 33.333%;
      float:left;
      margin-top: 50px;
      .form-item {
        height: 200px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }



    .field-name-admiral-right-panel-right-image {
      padding: 5px 50px 0 50px;
      width: 33.3333%;
      float: left;
      margin-top: 50px;
      .form-item {
        height: 200px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .form-file {
              width: 95%;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }
  }
}