.l-unconstrained-navigation {
  @include box-shadow(rgba($basecolor, 0.6) 0 0 15px inset);
  height: 40px;
  .l-navigation {
    padding: 0;
    .block--system-main-menu {
      .block__title {
        display: none;
      }

      @extend %hlist;
      //display: none;
      ul.menu {
        padding: 0;
        margin: 0;
        li.delimiter {
          color: $basecolor;
        }
        li {
          display: block;
          height: 40px;
          @include font-size(22px);
          line-height: 40px;
          font-weight: 800;
          float: left;
        }
        a {
          display: block;
          @include font-size(13px);
          text-decoration: none;
          //$background:
          color: $basecolor;
          height: 40px;
          padding: 0 6px;
          background-color: transparent;
          &:hover {
            background-color: $basecolor;
            color: $white;
            /*&:after {
              content: " \0000a0 \0000a0";
            }*/
          }
          &:visited {
            background-color: transparent;
          }
          &:active {
            background-color: $basecolor;
            color: $white;
          }


          /*&:after {
            content: " |";
          }*/
        }
      }
    }
  }
}



/*@include breakpoint($tab, true) { //600
  .block--system-main-menu {
    .block__title {
      display: none;
    }
    display: inline-block;
    ul.menu {
      li {
        color: $basecolor;
        font-weight: 800;
        padding: 0.2em;
        float: left;

        &:after {
          content: "|";
        }
        a {
          padding-right: 0.3em;
        }
      }
      li.last {
        &:after {
          display: none;
        }
      }
    }
  }
}*/